#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.grid {
  display: grid;
  background-color: gray;
  border: 2px solid black;
  grid-gap: 1px;

  &__item {
    width: 32px;
    height: 32px;

    &--empty {
      background-color: white;
    }
  }
}
